[user]
  email = tonywok@gmail.com
  name = Tony Schneider

[color]
  branch = auto
  diff   = auto
  status = auto
	ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[merge]
  tool = vimdiff

[difftool "mvimdiff"]
  cmd = mvim +\"wincmd =\" -f -d \"$LOCAL\" \"$REMOTE\"

[core]
  legacyheaders = false
	excludesfile = /Users/tonywork/.gitignore_global
  autocrlf = input
  safecrlf = true
  editor = vim

[repack]
  usedeltabaseoffset = true

[alias]
  br = branch
  ch   = cherry -v origin
  ci = commit
  co = checkout
  df   = diff
  mine = log --author=Pairing
  st = status
  lg   = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative  
  put  = "push origin HEAD"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  visual = !gitx

[push]
  default = simple

[branch "master"]
  remote = origin
  merge = refs/heads/master
